---
/*
 * Copyright (C) Aditya 2023-2026 <github.com/TriStaRvOiD>
 */
---

<footer transition:persist="footer">
  <a href="mailto:aditya@tristarvoid.com">aditya@tristarvoid.com</a>
  <p>&copy; 2023-2026 TriStaRvOiD</p>
</footer>

<style>
  footer {
    margin-top: auto;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    color: var(--text-secondary);
    border-top: 1px solid var(--border);
  }

  a {
    color: var(--text-secondary);
  }

  a:hover {
    color: var(--text);
  }
</style>
